<section class='h-screen flex flex-col items-center justify-center'>
  <div class='text-8xl'>WeLift</div>
  <section class='flex flex-row p-3'>
    <.button class='text-3xl py-5 px-6 m-2' phx-click={JS.navigate(~p"/users/log_in")}>Log in</.button>
    <.button class='text-3xl py-5 px-6 m-2' phx-click={JS.navigate(~p"/users/register")}>Register</.button>
  </section>
</section>
